<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title><%= titulo %></title>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans:400,700|Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../layout/includes/header.ejs') %>

    <main class="container mt-5">
      <div class="row">
        <div class="col-md-5">
          <img src="img/nosotros.jpg" alt="Nosotros" class="img-fluid" />
        </div>
        <div class="col-md-7">
          <h1>
            Sobre nosotros
          </h1>
          <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit vel
            tempora quo officiis adipisci eos, et quasi nobis consectetur,
            ducimus delectus facilis, veniam officia rerum dolores sunt
            laudantium enim blanditiis.
          </blockquote>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            cumque beatae temporibus voluptate magnam voluptates odit! Expedita
            qui veniam suscipit consequuntur quis reprehenderit, ratione vitae
            magnam hic minima omnis obcaecati?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
            voluptates provident est? Nihil dolore aspernatur explicabo
            exercitationem. Consequatur, facilis! Impedit maiores voluptatibus
            porro ut voluptates cupiditate quisquam accusantium harum
            aspernatur!
          </p>
        </div>
      </div>
    </main>
    <div class="listado-iconos">
      <div class="container mt-5 py-5 text-center">
        <div class="row">
          <div class="col-md-4">
            <img src="img/icono_seguridad.svg" class="img-fluid mb-4" alt="" />
            <h2 class="mb-4">Seguridad</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              temporibus blanditiis neque commodi cum magnam consequuntur ut,
              pariatur, ab ad sint culpa a voluptates tempora quia aliquid
              veniam deleniti dolorum.
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/icono_destinos.svg" class="img-fluid mb-4" alt="" />
            <h2 class="mb-4">Mejores destinos</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              temporibus blanditiis neque commodi cum magnam consequuntur ut,
              pariatur, ab ad sint culpa a voluptates tempora quia aliquid
              veniam deleniti dolorum.
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/icono_precios.svg" class="img-fluid mb-4" alt="" />
            <h2 class="mb-4">Mejor precio</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              temporibus blanditiis neque commodi cum magnam consequuntur ut,
              pariatur, ab ad sint culpa a voluptates tempora quia aliquid
              veniam deleniti dolorum.
            </p>
          </div>
        </div>
      </div>
    </div>

    <%- include('../layout/includes/footer.ejs') %>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
