<header>
  <div class="navegacion">
    <div class="container">
      <div
        class="row justify-content-center justify-content-md-beetween align-items-center py-4 "
      >
        <div class="col-6 col-md-4">
          <a href="/">
            <img src="/img/logo.svg" alt="Logo" class="img-fluid"
          /></a>
        </div>
        <div class="col-6 col-md-8">
          <nav class="nav justify-content-center justify-content-md-end">
            <a
              class="nav-link <%= ( (ruta == '/nosotros') ? 'active' : '' )%>"
              href="/nosotros"
              >Nosotros</a
            >
            <a
              class="nav-link <%= ( (ruta == '/viajes') ? 'active' : '' )%>"
              href="/viajes"
              >Viajes</a
            >
            <a
              class="nav-link <%= ( (ruta == '/testimoniales') ? 'active' : '' )%>"
              href="/testimoniales"
              >Testimoniales</a
            >
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
